# --- Vivado Ignore List ---
vivado-project/**/*.cache/
vivado-project/**/*.hw/
vivado-project/**/*.sim/
vivado-project/**/*.runs/
vivado-project/**/*.ip_user_files/

# Ignore log, journal, and Xilinx temp files globally
**/*.log
**/*.jou
**/*.str
.Xil/

# --- General Compilation Ignore ---
*.o
*.ko
*.mod.c
*.order
*.symvers
.tmp_versions/
